@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;500;600;700;800&family=Oi&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0f101b;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4658ff;
  border-radius: 5px;
  transition: all 400ms ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6486ff;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.border-gradient {
  border-width: 2px;
  border-style: solid;
  border-radius: 12px;
  border-image: radial-gradient(89.84% 87.62% at 93.91% 97.36%, #6474FF 0%, rgba(100, 116, 255, 0) 100%) 20;
}

.card-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
  position: relative;
  max-width: calc(100% - 20px);
  margin: 0 auto 90vh;
}

.card {
  color: white;
  border-radius: 12px;
}

.video-container {
  position: relative;
  padding-bottom: 1px;
}