@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;500;600;700;800&family=Oi&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0F101B;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}


::-webkit-scrollbar-thumb {
  background-color: #4658FF;
  border-radius: 5px;
  transition: all 400ms ease-in-out
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6486FF;
}
